.modal-inputs-container {
	height: 200px;
	overflow-y: scroll;
	border-radius: 5px;
	border-style: solid;
}

.modal-inputs-container input {
	margin: 5px;
	max-height: 21px;
}

.modal-inputs-container select {
	margin: 5px;
	height: 21px;
}

.modal-inputs-container button {
	padding: 5px;
	height: 21px;
	font-weight: bold;
}

/* Add Obsidian button styling to anchors.*/
/* .a-btn {
	-webkit-app-region: no-drag;
	color: var(--text-normal);
	font-size: var(--font-ui-small);
	border-radius: var(--button-radius);
	border: 0;
	padding: var(--size-4-1) var(--size-4-3);
	height: var(--input-height);
	font-weight: var(--input-font-weight);
	cursor: var(--cursor);
	font-family: inherit;
	outline: none;
	user-select: none;
	white-space: nowrap;
} */

/* .a-btn:focus {
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	size: 30px;
} */

/* .btn-del{
	background-color: grey;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
} */
/* 
.btn-add{
	background-color: grey;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
} */

/* Basic button styling */
a {
	display: inline-block;
	padding: var(--size-4-1) var(--size-4-2);
	text-decoration: none;
	background-color: var(--interactive-normal);
	color: var(--text-normal);
	border-radius: 4px; /* Rounded corners */
	cursor: pointer;
	text-align: center;
	font-weight: var(--input-font-weight);
	font-size: var(--font-ui-small);
}

/* Hover and focus styles */
a:hover,
a:focus {
	border: 3px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(121, 118, 118);
	background-color: #3f3e3e; /* Hover background color */
	border-color: #0056b3; /* Hover border color */
}

/* Disabled style */
a:disabled {
	background-color: #ccc; /* Disabled background color */
	border-color: #ccc; /* Disabled border color */
	color: #999; /* Disabled text color */
	cursor: not-allowed;
}
